@import 'base/listas';
@import 'base/extends';
@import 'base/mixins';
@import 'base/variables';
@import 'components/main';
@import 'components/header';
@import 'components/index';
@import 'components/nosotros';
@import 'components/contactos';
@import 'components/products1';
@import 'components/products2';
@import 'components/pagos';
@import 'components/footer';

/* Version celular */
@media only screen and (max-width: 480px) {
    #principal{
        width: 100%;
        height: 300px;
        overflow: hidden;
        position:relative;
        margin: 0px 0px 0px 0px;
    }

    #principal h1{
        font-size: nth($font-size, 8);
        color: nth($colores, 2);
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 0 0 8px rgba(0,0,0,0.8);
    }

    #cuidado{
        background-color: nth($colores, 13);
        color: nth($colores, 4);
        text-align: center;
        padding: 70px 50px;
        margin: 0;
    }

    .probar{
        height: 50%;
        width: 50%;
    }

    #redes-box{
        font-size: nth($font-size, 1);
    }
    .mapa{
        height: 100%;
        width: 100%;
    }

    .imagenes-product{
        width: 30%;
        height: 30%;
    }
}

/* Version tablet */
@media only screen and (min-width: 481px) and (max-width: 980px) {
    #principal{
        width: 100%;
        height: 500px;
        overflow: hidden;
        position:relative;
        margin: 0px 0px 0px 0px;
    }

    #principal h1{
        font-size: nth($font-size, 7);
        color: nth($colores, 2);
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 0 0 8px nth($colores, 10);
    }
    #cuidado{
        background-color: nth($colores, 13);
        color: nth($colores, 4);
        text-align: center;
        padding: 100px 60px;
        margin: 0;
    }
    .probar{
        height: 70%;
        width: 70%;
    }
    #redes-box{
        font-size: nth($font-size, 4);
    }
    .mapa{
        height: 250px;
        width: 70%;
    }
    .imagenes-product{
        width: 25%;
        height: 25%;
    }
}