@import '../base/listas';
@import '../base/variables';
/* contactos.html */
#contactos{
    text-align: $alineacion;
    background-color: nth($colores, 13);
    padding: nth($padding, 3);
    display:flexbox;
    justify-content:space-around;
}

.redes{
    padding: nth($padding, 1);
    margin-bottom: 10px;
}

#redes-box{
    padding: nth($padding, 2);
    justify-content:space-around;
    font-size: nth($font-size, 9);
}