/* Tazas */
.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ededed;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;

}


.grid-item:hover{
    filter: opacity(0.9);
    transform: scale(1.05);
}

.grid-container{
    background-color: #f5f5dc;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 10px;
    padding: 20px;
}

.titulo-tazas{
    background-color: #f5f5dc;
    padding: 25px;
}