@import '../base/listas';
@import '../base/extends';
@import '../base/variables';
/* Tazas */
.grid-item{
    @extend %flexbox;
    background-color: nth($colores, 14);
    border-radius: nth($radius, 3);
    transition: transform 0.3s ease-in-out;
    &:hover{
        filter: opacity(0.9);
        transform: scale(1.05);
    }
}

.grid-container{
    background-color: nth($colores, 13);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 10px;
    padding: nth($padding, 1);
}

.titulo-tazas{
    background-color: nth($colores, 13);
    padding: nth($padding, 10);
}