@import '../base/listas';
@import '../base/variables';
/* cajitas */
.grid-ccontainer{
    background-color: nth($colores, 13);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 10px;
    padding: nth($padding, 1);
}

.precio{
    text-align: $alineacion;
}