$colores:
darkorchid,
white,
blueviolet,
black,
rgb(255, 255, 255),
rgb(119, 37, 160),
rgb(151, 72, 224),
rgb(163, 92, 230),
rgb(255, 28, 172),
rgba(0,0,0,0.8),
#ffccf0,
#fdced5,
#f5f5dc,
#ededed;

$padding:
20px,
5px,
50px 12px,
30px 0,
20px 20px 20px 20px,
0,
60px,
160px 100px,
10px 15px,
25px;

$font-size:
10px,
25px,
20px,
15px,
18px,
3.5rem,
2.5rem,
1.7rem,
1em,
3.5em,
2.7em,
2em,
1.2em,
1.25em;

$radius:
20px,
50px,
4px,
